/* =========================
   COLOR THEME
========================= */

:root {

  --bg: #0B0B0B;

  --primary: #F59E0B;

  --text: #EAEAEA;

  --card: #171717;
--muted: rgba(255,255,255,0.65);
--border: rgba(255,255,255,0.08);
  
}

/* =========================
   GLOBAL
========================= */

body {

  margin: 0;
  font-family: Calibri, sans-serif;

  background: var(--bg);

  color: var(--text);
}

.section {

  padding: 70px 40px;

  text-align: center;
}

/* =========================
   NAVBAR
========================= */

.navbar {

  position: fixed;

  width: 100%;

  display: flex;

  justify-content: space-between;

  padding: 12px 40px;

  background: rgba(0,0,0,0.55);

  backdrop-filter: blur(10px);

  z-index: 1000;
}

.navbar ul {

  list-style: none;

  display: flex;

  margin-right: 80px;

  gap: 22px;
}

.navbar a {

  color: var(--primary);

  font-size: 13.5px;

  letter-spacing: 1.5px;

  white-space: nowrap;

  text-decoration: none;
}

.logo {

  font-weight: 2000;

  font-size: 20px;

  letter-spacing: 2px;

  background: linear-gradient(360deg, #ffffff, #F59E0B);

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

  background-clip: text;

  color: transparent;
}

/* NAV UNDERLINE */

.nav-links a {

    text-decoration: none;

    color: white;

    position: relative;
}

.nav-links a::after {

    content: "";

    position: absolute;

    width: 0;

    height: 2px;

    bottom: -4px;

    left: 0;

    background: var(--primary);

    transition: width 0.3s;
}

.nav-links a:hover::after {

    width: 100%;
}

/* =========================
   HERO SECTION
========================= */

.hero {

    min-height: 100vh;

    display: flex;

    align-items: center;

    justify-content: center;

    padding: 70px 60px 40px;

    overflow: hidden;
}



/* IMAGE GLOW */

/* IMAGE GLOW */

.hero-glow {

    position: absolute;

    width: 700px;

    height: 650px;

    background:
      radial-gradient(
        circle,
        rgba(245, 158, 11, 0.55) 0%,
        rgba(245, 158, 11, 0.18) 35%,
        rgba(245, 158, 11, 0.05) 55%,
        transparent 75%
      );

    filter: blur(90px);

    z-index: 0;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);
}

/* GLOW RING */

.hero-ring {

    position: absolute;

    width: 550px;

    height: 550px;

    border-radius: 50%;

    border-top:  transparent;

    border-right: transparent;

    border-left:2px solid rgba(82, 68, 35, 0.571);

    border-bottom: transparent;


    z-index: 0;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%) rotate(25deg);

    filter: blur(1px);
}

.hero-socials a {

    width: 42px;

    height: 42px;

    border: 1px solid var(--border);

    border-radius: 50%;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 18px;

    color: var(--muted);

    transition: 0.3s ease;
}

.hero-socials a:hover {

    color: var(--primary);

    border-color: var(--primary);

    transform: translateY(-4px);
}



/* MAIN CONTAINER */

.hero-container {

    width: 100%;

    max-width: 1400px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 80px;
}

/* LEFT SIDE */

.hero-left {

    position: relative;

    flex: 1;

    display: flex;

    align-items: center;

    justify-content: center;
    left: 100px;

    top: -90px;
}

/* IMAGE */

.hero-image {

    width: 550px;

    max-width: 100%;

    object-fit: cover;

    position: relative;

    z-index: 1;

    filter: brightness(0.95);
}

/* BIG NAME */

.hero-name {

    position: absolute;

    left: -40px;

    bottom: 275px;

    z-index: 2;
}

.hero-name h1 {
    font-family: 'Cormorant Garamond', serif;

    font-size: 70px;

    line-height: 0.9;

    margin: 0;

    font-weight: 700;

    color: white;

    letter-spacing: 0px;
}

.hero-name span {

    color: var(--primary);
    font-style: italic;
    position: relative;
    background: linear-gradient(
      90deg,
      #ffe08a,
      #f59e0b
    );


    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    background-clip: text;

    color: transparent;

    left: 80px;

    top: -10px;
}

/* LINE UNDER NAME */

.hero-line {

    width: 0px;

    height: 1px;
    

    background: var(--primary);

    margin-top: 24px;

    border-radius: 999px;
}

/* SOCIALS */

.hero-socials {

    display: flex;

    align-items: center;

    gap: 18px;

    margin-top: 30px;
}

.hero-socials a {

    width: 42px;

    height: 42px;

    border: 1px solid rgba(255,255,255,0.08);

    border-radius: 50%;

    display: flex;

    align-items: center;

    justify-content: center;

    color: var(--muted);

    text-decoration: none;

    font-size: 16px;

    transition: 0.3s ease;
}

.hero-socials a:hover {

    color: var(--primary);

    border-color: var(--primary);

    transform: translateY(-4px);
}


/* RIGHT SIDE */

.hero-right {

    flex: 1;

    max-width: 520px;

    text-align: left;

}

.hero-right h4 {

    color: var(--primary);

    font-size: 22px;
    font-style:oblique;
    letter-spacing: 4px;

    position: relative;
    background: linear-gradient(
      90deg,
      #ffe08a,
      #f59e0b
    );


    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    background-clip: text;

    color: transparent;

    margin-top: -120px;
    margin-bottom: 50px;

    font-weight: 500;

    display: flex;

    align-items: center;

    gap: 18px;
}

.hero-right h4::after {

    content: "";
    margin-bottom: -13px;
    margin-left: -17px;
    width: 90px;
    font-style: oblique;
    height: 1.5px;

   background: linear-gradient(
      90deg,
      #f59e0b,
      #ffe08a
    );
    opacity: 0.8;
}

/* MAIN TEXT */

.hero-right p1 {
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 600;
}

/* DESCRIPTION */

.hero-right p {

    font-size: 18px;

    letter-spacing: 0.5px;

    line-height: 1.25;

    color: var(--muted);

    margin-bottom: 35px;
}

/* BUTTONS */

.hero-buttons {

    display: flex;

    gap: 20px;

    flex-wrap: wrap;
}

/* DOWNLOAD BUTTON */

.resume-btn {

    padding: 14px 16px;

    height: 12px;
  background:
linear-gradient(
  155deg,
  rgba(245,158,11,1) 20%,
  rgba(217,119,6,1) 35%,
  rgba(35,25,15,1) 75%
);

    color: white;

    text-decoration: none;
    font-size: 16px;

    font-weight: 550;

    border-radius: 2px;

    transition: 0.3s ease;

    display: inline-flex;
align-items: center;
justify-content: center;
line-height: 1;
}

.resume-btn:hover {

    transform: translateY(-4px);

    box-shadow:
      0 0 20px rgba(245, 158, 11, 0.18);
}

/* PROJECT BUTTON */

.project-btn {

    font-size: 16px;

    padding: 14px 12px;
        height: 12px;
    font-weight: 550;
    border: 1px solid var(--primary);

    color: white;

    text-decoration: none;

    border-radius: 2px;

    transition: 0.3s ease;

    
    display: inline-flex;
align-items: center;
justify-content: center;
line-height: 1;

}

/* BUTTON ARROW */

.project-btn {

    display: inline-flex;

    align-items: center;

    gap: 10px;
}

.project-btn .arrow {

    font-size: 11px;

    transition: 0.3s ease;
}



.project-btn:hover {

    background: rgba(245, 158, 11, 0.08);

    transform: translateY(-4px);
}


/* =========================
   ABOUT + SKILLS
========================= */

.about-skills-container {

    width: 100%;

    max-width: 1350px;

    margin-top:-282px;

    margin-left: 38px;

    display: grid;

    grid-template-columns: 0.9fr 1.1fr;

    gap: 80px;

    padding: 70px 0;

    border-top: 2px solid var(--border);

    border-bottom: 2px solid var(--border);
}

/* ABOUT CONTENT */

.about-content {
    font-size: 34px;
    display: flex;
    flex-direction: column;

    gap: 24px;
}
   
/* ABOUT SIDE */

.about-side {

    position: relative;

    padding-right: 20px;

    overflow: hidden;
}

/* BACKGROUND TEXT */

.about-bg-text {

    position: absolute;

    top: -120px;

    left: 15px;

    font-family: 'Cormorant Garamond', serif;

    font-size: 54px;

    line-height: 0.92;

    font-weight: 700;

    letter-spacing: -2px;

    max-width: 520px;

    z-index: 0;

    pointer-events: none;

    color: rgba(255,196,85,0.17);

    opacity: 1;
}

/* KEEP CONTENT ABOVE */

.split-heading,
.about-content,
.soft-skills-heading,
.soft-skills {

    position: relative;

    z-index: 2;
}

/* FIRST PARAGRAPH */

.about-description-one {

    font-size: 20px;

    line-height: 1.25;

    letter-spacing: 0.25px;

    color: white;
    margin-bottom: -20px;
}

/* SECOND PARAGRAPH */

.about-description-two {

    font-size: 20px;

    line-height: 1.25;

    letter-spacing: 0.25px;

    color: var(--muted);
}

/* SOFT SKILLS */

.soft-skills {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 12px;

    margin-top: -25px;
}

/* SOFT SKILLS HEADING */

.soft-skills-heading {

    font-size: 33px;

    letter-spacing: 1px;

    font-weight: 700;

    margin-top: 35px;

    margin-bottom: 12px;

    color: white;
}

/* HIGHLIGHT */

.soft-skills-heading span {

    color: var(--primary);
}

/* SOFT SKILL BLOCK */

.soft-skill {

    padding: 16px 20px;

    background: rgba(245, 158, 11, 0.04);

    border: 1.5px solid rgba(245, 158, 11, 0.10);

    color: rgba(255,255,255,0.82);

    font-size: 16px;

    transition: 0.3s ease;
}

/* HOVER */

.soft-skill:hover {

    background: rgba(245, 158, 11, 0.07);

    border-color: rgba(245, 158, 11, 0.25);

    transform: translateY(-3px);
}

/* LEFT */

.about-side {

    padding-right: 20px;
}

/* RIGHT */

.skills-side {

    padding-left: 50px;

    border-left: 2px solid rgba(255,255,255,0.06);
}

/* HEADINGS */

.split-heading {

    font-size: 38px;
    

    letter-spacing: 1.5px;
    margin-bottom: 35px;

    font-weight: 700;
}

.split-heading span {

    color: var(--primary);
}

/* ABOUT TEXT */

.about-description {

    font-size: 17px;

    line-height: 1.9;

    color: var(--muted);
}

/* SKILLS GRID */

.skills-grid {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 14px;
}

/* SKILL BLOCK */

.skill-block {

    padding: 20px;

    background: rgba(245, 158, 11, 0.04);

    border: 1px solid rgba(245, 158, 11, 0.10);

    transition: 0.3s ease;
}

/* HOVER */

.skill-block:hover {

    background: rgba(245, 158, 11, 0.07);

    border-color: rgba(245, 158, 11, 0.25);

    transform: translateY(-3px);
}

/* TITLE */

.skill-block h3 {

    color: var(--primary);

    font-size: 15.5px;

    margin-bottom: 12px;

    font-weight: 600;
}

/* TEXT */

.skill-block p {

    color: var(--muted);

    font-size: 14.5px;

    line-height: 1.7;

    margin: 0;
}

/* =========================
   PROJECT SECTION
========================= */

/* CONTAINER */

.projects-container {

    width: 100%;

    padding: 40px 0 80px 0;

    background: transparent;

    margin-top: -190px;
}

/* STACK */

.project-stack {

    width: 100%;

    max-width: 1350px;

    margin: auto;

    display: flex;

    flex-direction: column;

    gap: 70px;

    margin-top: 50px;
}

/* PROJECT LINKS */

.project-links {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 14px;

    margin-top: 30px;
}

/* LINK BUTTONS */

.project-links a {

    display: inline-flex;

    align-items: center;

    justify-content: center;

    padding: 12px 22px;

    background:
    linear-gradient(
      135deg,
      rgba(245,158,11,0.18),
      rgba(245,158,11,0.08)
    );

    border: 1px solid rgba(245,158,11,0.18);

    color: white;

    text-decoration: none;

    font-size: 13px;

    letter-spacing: 1px;

    font-weight: 500;

    transition: 0.3s ease;
}

/* HOVER */

.project-links a:hover {

    transform: translateY(-2px);

    background:
    linear-gradient(
      135deg,
      rgba(245,158,11,0.28),
      rgba(245,158,11,0.12)
    );

    border-color: rgba(245,158,11,0.35);
}

/* HEADING */

.project-heading {

    font-size: 48px;

    margin-bottom: -10px;

    letter-spacing: 2px;

    text-align: center;
}

/* ROW */

.project-row {

    display: grid;

    grid-template-columns: 445px 445px 445px;

    gap: 0;

    width: 100%;
}

/* PROJECT CARD */
.project-card {

    position: relative;

    display: flex;

    flex-direction: column;

    width: 100%;

    min-height: 430px;

    padding: 28px;

    box-sizing: border-box;

    background: rgba(255,255,255,0.025);

    border: 1px solid rgba(255,255,255,0.06);

    transition: 0.35s ease;

    overflow: hidden;
}

/* TOP LIGHT EFFECT */

.project-card::before {

    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;

    height: 1px;

    background:
      linear-gradient(
        90deg,
        transparent,
        rgba(245,158,11,0.45),
        transparent
      );

    opacity: 0;

    transition: 0.35s ease;
}

/* HOVER */

.project-card:hover {

    transform: translateY(-8px);

    border-color: rgba(245,158,11,0.22);

    background: rgba(255,255,255,0.04);

    box-shadow:
      0 12px 30px rgba(0,0,0,0.22);
}

.project-card:hover::before {

    opacity: 1;
}

/* CATEGORY */

.project-card h5 {

    color: var(--primary);

    font-size: 13px;

    letter-spacing: 2px;

    margin-bottom: -4px;

    font-weight: 600;
}

/* TITLE */

.project-card h2 {

    font-size: 31px;

    line-height: 1.15;

    margin-bottom: 18px;

    font-weight: 700;
}

/* DESCRIPTION */

.project-card p {

    color: rgba(255,255,255,0.72);

    line-height: 1.75;

    font-size: 16px;

    margin-bottom: 13px;
}

/* BULLETS */

.project-card ul {

    padding-left: 0;

    font-size: 15px;
    


    list-style: none;

    margin-bottom: 24px;
}

.project-card ul li {

    margin-bottom: 10px;

    color: rgba(255,255,255,0.84);

    line-height: 1.6;

    font-size: 14px;
}

/* TECH STACK */

.tech-stack {

    display: flex;

    flex-wrap: wrap;

    gap: 10px;

    margin-top: auto;
}

/* TECH TAG */

.tech-stack span {

    padding: 8px 14px;

    background: rgba(245,158,11,0.05);

    border: 1px solid rgba(245,158,11,0.12);

    font-size: 12px;

    color: var(--primary);

    transition: 0.3s ease;
}

/* TECH TAG HOVER */

.tech-stack span:hover {

    background: rgba(245,158,11,0.10);

    border-color: rgba(245,158,11,0.28);
}


/* =========================
   EXPERIENCE SECTION
========================= */

.experience-container {

    width: calc(100% + 80px);

    margin-left: -40px;

    padding: 80px 0;

    box-sizing: border-box;

    margin-top: -240px;
}


/* HEADING */

.experience-heading {

    font-size: 42px;

    letter-spacing: 2px;

    font-weight: 550;

    margin-bottom: 22px;

    text-align: center;
}

/* GRID */

.experience-grid {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    width: 100%;
    gap: 0;
}

/* BOX */

.experience-box {

    padding: 30px;

    background: rgba(245,158,11,0.04);

    border: 1.5px solid rgba(245,158,11,0.10);

    transition: 0.35s ease;
}


/* LABEL */

.experience-label {

    color: var(--primary);

    font-size: 11px;

    letter-spacing: 2px;

    display: inline-block;

    margin-bottom: 0px;
}

/* TITLE */

.experience-box h3 {

    font-size: 28px;

    margin-bottom: 10px;
}

/* DATE */

.experience-date {

    color: rgba(255,255,255,0.55);

    font-size: 14px;

    margin-bottom: 24px;
}

/* LIST */

.experience-box ul {

    padding-left: 0;

    list-style: none;

    margin-bottom: 24px;
}

.experience-box ul li {

    color: rgba(255,255,255,0.82);

    line-height: 1.7;

    margin-bottom: 12px;

    font-size: 14px;
}



/* =========================
   EDUCATION + CERTIFICATIONS
========================= */

.edu-cert-container {

    width: 100%;

    max-width: 1550px;

    margin-top:-130px;

    display: grid;

    grid-template-columns: 0.9fr 1.1fr;

    gap: 80px;

    padding: 80px 0;

    border-top: 2px solid var(--border);

    border-bottom: 2px solid var(--border);
}

/* LEFT SIDE */
/* EDUCATION TABLE */

/* EDUCATION HEADING */

.education-heading {

    font-size: 36px;

    letter-spacing: 2px;

    font-weight: 700;

    margin-top: -20px;

    margin-left: 30px;

    margin-bottom: 35px;

    color: var(--primary);
}

.education-table {

    background: rgba(255,255,255,0.025);

    border: 1px solid rgba(255,255,255,0.06);

    margin-left: 30px;

    overflow: hidden;
}

/* EDUCATION ITEM */

.education-item {

    padding: 40px;

    border-bottom: 2px solid rgba(255,255,255,0.05);
}

/* REMOVE LAST BORDER */

.education-item:last-child {

    border-bottom: none;
}

/* LABEL */

.edu-label {
    

    color: var(--primary);

    font-size: 12px;

    letter-spacing: 3px;


    font-weight: 600;
}

/* TITLE */

.education-item h3 {

    font-size: 20px;

    line-height: 1.2;

    margin-top: 13px;

    margin-bottom: 18px;

    color: white;
}

/* DATE */

.education-item .experience-date {

    display: inline-block;

    font-size: 15px;

    color: rgba(255,255,255,0.55);

    margin-bottom: 22px;
}

/* INSTITUTE */

.education-item h4 {

    font-size: 20px;

    margin-top: -10px;

    margin-bottom: -20px;

    font-weight: 400;

    color: white;

    line-height: 1.7;
}

/* CERTIFICATION HEADING */

.certification-heading {

    font-size: 36px;

    letter-spacing: 2px;
    margin-top: -20px;
    margin-bottom: 38px;

    font-weight: 700;

    color: white;
}

/* BORDER BETWEEN EDUCATION & CERTIFICATIONS */

.certifications-side {

    border-left: 2px solid rgba(255,255,255,0.08);

    padding-left: 50px;
}

/* CERTIFICATIONS LIST */

.certifications-list {

    display: flex;

    flex-direction: column;

    gap: 10px;

}

/* CERT ROW */

.cert-row {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 12px 24px;

    text-decoration: none;

    background: rgba(245,158,11,0.04);

    border: 1px solid rgba(245,158,11,0.10);

    transition: 0.3s ease;
}

/* HOVER */

.cert-row:hover {

    transform: translateY(-3px);

    background: rgba(245,158,11,0.07);

    border-color: rgba(245,158,11,0.22);
}

/* CERT TITLE */

.cert-row h3 {

    color: white;

    font-size: 17px;

    margin-bottom: 8px;
}

/* PROVIDER */

.cert-row p {

    color: var(--muted);

    font-size: 15px;

     text-align: left;

    margin: 0;
}

/* ARROW */

.cert-row span {

    color: var(--primary);

    font-size: 18px;
}




/* =========================
   MEDIUM BLOGS SECTION
========================= */
.blogs-container {

    width: calc(100% + 80px);

    margin-left: -40px;

    margin-top: -230px;
}

/* HEADING */

.blogs-heading {

    font-size: 42px;

    letter-spacing: 2px;

    font-weight: 550;

    margin-top: 160px;

    margin-bottom: 40px;

    text-align: center;
}

.blogs-heading span {

    color: var(--primary);
}

/* GRID */

.blogs-grid {

    display: flex;

    flex-direction: column;

    gap: 30px;
}

/* ROW */

.blog-row {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 0;
    margin-top: 30px;
    margin-bottom: -30px;
}

/* SECOND ROW */

.second-row {

    grid-template-columns: repeat(3, 1fr);

    width: 100%;
    margin-bottom: 50px;
}

/* BLOG BOX */

.blog-box {

    padding: 34px;

    background: rgba(245,158,11,0.04);

    border: 1.5px solid rgba(245,158,11,0.10);

    box-sizing: border-box;
}

/* LABEL */

.blog-label {

    color: var(--primary);

    font-size: 12px;

    letter-spacing: 2px;

    display: inline-block;

    margin-bottom: 0px;
}

/* TITLE */

.blog-box h3 {

    font-size: 23px;

    line-height: 1.3;

    margin-top: 18px;

    margin-bottom: 12px;

    color: white;
}

/* DATE */

.blog-date {

    color: rgba(255,255,255,0.55);

    font-size: 14px;

    margin-bottom: 22px;
}

/* DESCRIPTION */

.blog-box p {

    color: rgba(255,255,255,0.78);

    line-height: 1.8;

    font-size: 15px;

    font-weight: 200px;

    margin-bottom: 28px;
}

/* BLOG LINK BUTTON */

.blog-link {

    display: inline-flex;

    align-items: center;

    justify-content: center;

    padding: 10px 18px;

    background: rgba(245,158,11,0.06);

    border: 1px solid rgba(245,158,11,0.12);

    text-decoration: none;

    color: var(--primary);

    font-size: 13px;

    letter-spacing: 1px;

    transition: 0.3s ease;
}

/* HOVER */

.blog-link:hover {

    background: rgba(245,158,11,0.10);

    border-color: rgba(245,158,11,0.25);
}



/* =========================
   FOOTER
========================= */

.footer {

    width: 100%;
     
    padding: 100px 60px 50px;

    border-top: 1px solid rgba(245,158,11,0.10);

    background:
linear-gradient(
  180deg,
  rgba(245,158,11,0.10) 0%,
  rgba(245,158,11,0.05) 25%,
  rgba(20,15,8,0.92) 55%,
  rgba(0,0,0,1) 100%
);

    position: relative;

    overflow: hidden;

    box-sizing: border-box;
}

/* SUBTLE GLOW */

.footer::before {

    content: "";

    position: absolute;

    width: 900px;

    height: 500px;

    background:
    radial-gradient(
      circle,
      rgba(245,158,11,0.08),
      transparent 70%
    );

    top: -250px;

    left: 50%;

    transform: translateX(-50%);

    pointer-events: none;
}

/* AVAILABILITY */

.footer-availability {

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 10px;

    font-size: 15px;

    color: rgba(255,255,255,0.72);

    margin-top: -40px;

    margin-bottom: -20px;

    letter-spacing: 0.5px;
}

/* GREEN DOT */

.footer-dot {

    width: 10px;

    height: 10px;

    border-radius: 50%;

    background: #22c55e;

    box-shadow:
      0 0 12px rgba(34,197,94,0.7);
}

/* BOTTOM LAYOUT */

.footer-bottom {

    display: flex;

    justify-content: space-between;

    align-items: flex-end;

    width: 100%;
}

/* NAME */

.footer-name {

    font-size: 27px;

    line-height: 1;

    margin: 0;

    font-family: 'Cormorant Garamond', serif;

    color: white;

    font-weight: 700;
}

/* SECOND NAME */

.footer-name span {

    background: linear-gradient(
      90deg,
      #f59e0b,
      #ffd369
    );

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

/* LINKS */

.footer-links {

    display: flex;

    gap: 30px;

    padding-bottom: 10px;
}

/* LINK */

.footer-links a {

    text-decoration: none;

    color: rgba(255,255,255,0.60);

    font-size: 16px;

    letter-spacing: 1px;

    transition: 0.3s ease;
}

/* HOVER */

.footer-links a:hover {

    color: var(--primary);
}


/* FOOTER LINK UNDERLINE */

.footer-links a {

    position: relative;
}

.footer-links a::after {

    content: "";

    position: absolute;

    left: 0;

    bottom: -6px;

    width: 0;

    height: 1px;

    background: var(--primary);

    transition: 0.3s ease;
}

/* HOVER */

.footer-links a:hover::after {

    width: 100%;
}

/* =========================
   COLOR THEME
========================= */

:root {

  --bg: #0B0B0B;

  --primary: #F59E0B;

  --text: #EAEAEA;

  --card: #171717;
--muted: rgba(255,255,255,0.65);
--border: rgba(255,255,255,0.08);
  
}

/* =========================
   GLOBAL
========================= */

body {

  margin: 0;
  font-family: Calibri, sans-serif;

  background: var(--bg);

  color: var(--text);
}

.section {

  padding: 70px 40px;

  text-align: center;
}

/* =========================
   NAVBAR
========================= */

.navbar {

  position: fixed;

  width: 100%;

  display: flex;

  justify-content: space-between;

  padding: 12px 40px;

  background: rgba(0,0,0,0.55);

  backdrop-filter: blur(10px);

  z-index: 1000;
}

.navbar ul {

  list-style: none;

  display: flex;

  margin-right: 80px;

  gap: 22px;
}

.navbar a {

  color: var(--primary);

  font-size: 13.5px;

  letter-spacing: 1.5px;

  white-space: nowrap;

  text-decoration: none;
}

.logo {

  font-weight: 2000;

  font-size: 20px;

  letter-spacing: 2px;

  background: linear-gradient(360deg, #ffffff, #F59E0B);

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

  background-clip: text;

  color: transparent;
}

/* NAV UNDERLINE */

.nav-links a {

    text-decoration: none;

    color: white;

    position: relative;
}

.nav-links a::after {

    content: "";

    position: absolute;

    width: 0;

    height: 2px;

    bottom: -4px;

    left: 0;

    background: var(--primary);

    transition: width 0.3s;
}

.nav-links a:hover::after {

    width: 100%;
}

/* =========================
   HERO SECTION
========================= */

.hero {

    min-height: 100vh;

    display: flex;

    align-items: center;

    justify-content: center;

    padding: 70px 60px 40px;

    overflow: hidden;
}



/* IMAGE GLOW */

/* IMAGE GLOW */

.hero-glow {

    position: absolute;

    width: 700px;

    height: 650px;

    background:
      radial-gradient(
        circle,
        rgba(245, 158, 11, 0.55) 0%,
        rgba(245, 158, 11, 0.18) 35%,
        rgba(245, 158, 11, 0.05) 55%,
        transparent 75%
      );

    filter: blur(90px);

    z-index: 0;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);
}

/* GLOW RING */

.hero-ring {

    position: absolute;

    width: 550px;

    height: 550px;

    border-radius: 50%;

    border-top:  transparent;

    border-right: transparent;

    border-left:2px solid rgba(82, 68, 35, 0.571);

    border-bottom: transparent;


    z-index: 0;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%) rotate(25deg);

    filter: blur(1px);
}

.hero-socials a {

    width: 42px;

    height: 42px;

    border: 1px solid var(--border);

    border-radius: 50%;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 18px;

    color: var(--muted);

    transition: 0.3s ease;
}

.hero-socials a:hover {

    color: var(--primary);

    border-color: var(--primary);

    transform: translateY(-4px);
}



/* MAIN CONTAINER */

.hero-container {

    width: 100%;

    max-width: 1400px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 80px;
}

/* LEFT SIDE */

.hero-left {

    position: relative;

    flex: 1;

    display: flex;

    align-items: center;

    justify-content: center;
    left: 100px;

    top: -90px;
}

/* IMAGE */

.hero-image {

    width: 550px;

    max-width: 100%;

    object-fit: cover;

    position: relative;

    z-index: 1;

    filter: brightness(0.95);
}

/* BIG NAME */

.hero-name {

    position: absolute;

    left: -40px;

    bottom: 275px;

    z-index: 2;
}

.hero-name h1 {
    font-family: 'Cormorant Garamond', serif;

    font-size: 70px;

    line-height: 0.9;

    margin: 0;

    font-weight: 700;

    color: white;

    letter-spacing: 0px;
}

.hero-name span {

    color: var(--primary);
    font-style: italic;
    position: relative;
    background: linear-gradient(
      90deg,
      #ffe08a,
      #f59e0b
    );


    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    background-clip: text;

    color: transparent;

    left: 80px;

    top: -10px;
}

/* LINE UNDER NAME */

.hero-line {

    width: 0px;

    height: 1px;
    

    background: var(--primary);

    margin-top: 24px;

    border-radius: 999px;
}

/* SOCIALS */

.hero-socials {

    display: flex;

    align-items: center;

    gap: 18px;

    margin-top: 30px;
}

.hero-socials a {

    width: 42px;

    height: 42px;

    border: 1px solid rgba(255,255,255,0.08);

    border-radius: 50%;

    display: flex;

    align-items: center;

    justify-content: center;

    color: var(--muted);

    text-decoration: none;

    font-size: 16px;

    transition: 0.3s ease;
}

.hero-socials a:hover {

    color: var(--primary);

    border-color: var(--primary);

    transform: translateY(-4px);
}


/* RIGHT SIDE */

.hero-right {

    flex: 1;

    max-width: 520px;

    text-align: left;

}

.hero-right h4 {

    color: var(--primary);

    font-size: 22px;
    font-style:oblique;
    letter-spacing: 4px;

    position: relative;
    background: linear-gradient(
      90deg,
      #ffe08a,
      #f59e0b
    );


    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    background-clip: text;

    color: transparent;

    margin-top: -120px;
    margin-bottom: 50px;

    font-weight: 500;

    display: flex;

    align-items: center;

    gap: 18px;
}

.hero-right h4::after {

    content: "";
    margin-bottom: -13px;
    margin-left: -17px;
    width: 90px;
    font-style: oblique;
    height: 1.5px;

   background: linear-gradient(
      90deg,
      #f59e0b,
      #ffe08a
    );
    opacity: 0.8;
}

/* MAIN TEXT */

.hero-right p1 {
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 600;
}

/* DESCRIPTION */

.hero-right p {

    font-size: 18px;

    letter-spacing: 0.5px;

    line-height: 1.25;

    color: var(--muted);

    margin-bottom: 35px;
}

/* BUTTONS */

.hero-buttons {

    display: flex;

    gap: 20px;

    flex-wrap: wrap;
}

/* DOWNLOAD BUTTON */

.resume-btn {

    padding: 14px 16px;

    height: 12px;
  background:
linear-gradient(
  155deg,
  rgba(245,158,11,1) 20%,
  rgba(217,119,6,1) 35%,
  rgba(35,25,15,1) 75%
);

    color: white;

    text-decoration: none;
    font-size: 16px;

    font-weight: 550;

    border-radius: 2px;

    transition: 0.3s ease;

    display: inline-flex;
align-items: center;
justify-content: center;
line-height: 1;
}

.resume-btn:hover {

    transform: translateY(-4px);

    box-shadow:
      0 0 20px rgba(245, 158, 11, 0.18);
}

/* PROJECT BUTTON */

.project-btn {

    font-size: 16px;

    padding: 14px 12px;
        height: 12px;
    font-weight: 550;
    border: 1px solid var(--primary);

    color: white;

    text-decoration: none;

    border-radius: 2px;

    transition: 0.3s ease;

    
    display: inline-flex;
align-items: center;
justify-content: center;
line-height: 1;

}

/* BUTTON ARROW */

.project-btn {

    display: inline-flex;

    align-items: center;

    gap: 10px;
}

.project-btn .arrow {

    font-size: 11px;

    transition: 0.3s ease;
}



.project-btn:hover {

    background: rgba(245, 158, 11, 0.08);

    transform: translateY(-4px);
}


/* =========================
   ABOUT + SKILLS
========================= */

.about-skills-container {

    width: 100%;

    max-width: 1350px;

    margin-top:-282px;

    margin-left: 38px;

    display: grid;

    grid-template-columns: 0.9fr 1.1fr;

    gap: 80px;

    padding: 70px 0;

    border-top: 2px solid var(--border);

    border-bottom: 2px solid var(--border);
}

/* ABOUT CONTENT */

.about-content {
    font-size: 34px;
    display: flex;
    flex-direction: column;

    gap: 24px;
}
   
/* ABOUT SIDE */

.about-side {

    position: relative;

    padding-right: 20px;

    overflow: hidden;
}

/* BACKGROUND TEXT */

.about-bg-text {

    position: absolute;

    top: -120px;

    left: 15px;

    font-family: 'Cormorant Garamond', serif;

    font-size: 54px;

    line-height: 0.92;

    font-weight: 700;

    letter-spacing: -2px;

    max-width: 520px;

    z-index: 0;

    pointer-events: none;

    color: rgba(255,196,85,0.17);

    opacity: 1;
}

/* KEEP CONTENT ABOVE */

.split-heading,
.about-content,
.soft-skills-heading,
.soft-skills {

    position: relative;

    z-index: 2;
}

/* FIRST PARAGRAPH */

.about-description-one {

    font-size: 20px;

    line-height: 1.25;

    letter-spacing: 0.25px;

    color: white;
    margin-bottom: -20px;
}

/* SECOND PARAGRAPH */

.about-description-two {

    font-size: 20px;

    line-height: 1.25;

    letter-spacing: 0.25px;

    color: var(--muted);
}

/* SOFT SKILLS */

.soft-skills {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 12px;

    margin-top: -25px;
}

/* SOFT SKILLS HEADING */

.soft-skills-heading {

    font-size: 33px;

    letter-spacing: 1px;

    font-weight: 700;

    margin-top: 35px;

    margin-bottom: 12px;

    color: white;
}

/* HIGHLIGHT */

.soft-skills-heading span {

    color: var(--primary);
}

/* SOFT SKILL BLOCK */

.soft-skill {

    padding: 16px 20px;

    background: rgba(245, 158, 11, 0.04);

    border: 1.5px solid rgba(245, 158, 11, 0.10);

    color: rgba(255,255,255,0.82);

    font-size: 16px;

    transition: 0.3s ease;
}

/* HOVER */

.soft-skill:hover {

    background: rgba(245, 158, 11, 0.07);

    border-color: rgba(245, 158, 11, 0.25);

    transform: translateY(-3px);
}

/* LEFT */

.about-side {

    padding-right: 20px;
}

/* RIGHT */

.skills-side {

    padding-left: 50px;

    border-left: 2px solid rgba(255,255,255,0.06);
}

/* HEADINGS */

.split-heading {

    font-size: 38px;
    

    letter-spacing: 1.5px;
    margin-bottom: 35px;

    font-weight: 700;
}

.split-heading span {

    color: var(--primary);
}

/* ABOUT TEXT */

.about-description {

    font-size: 17px;

    line-height: 1.9;

    color: var(--muted);
}

/* SKILLS GRID */

.skills-grid {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 14px;
}

/* SKILL BLOCK */

.skill-block {

    padding: 20px;

    background: rgba(245, 158, 11, 0.04);

    border: 1px solid rgba(245, 158, 11, 0.10);

    transition: 0.3s ease;
}

/* HOVER */

.skill-block:hover {

    background: rgba(245, 158, 11, 0.07);

    border-color: rgba(245, 158, 11, 0.25);

    transform: translateY(-3px);
}

/* TITLE */

.skill-block h3 {

    color: var(--primary);

    font-size: 15.5px;

    margin-bottom: 12px;

    font-weight: 600;
}

/* TEXT */

.skill-block p {

    color: var(--muted);

    font-size: 14.5px;

    line-height: 1.7;

    margin: 0;
}

/* =========================
   PROJECT SECTION
========================= */

/* CONTAINER */

.projects-container {

    width: 100%;

    padding: 40px 0 80px 0;

    background: transparent;

    margin-top: -190px;
}

/* STACK */

.project-stack {

    width: 100%;

    max-width: 1350px;

    margin: auto;

    display: flex;

    flex-direction: column;

    gap: 70px;

    margin-top: 50px;
}

/* PROJECT LINKS */

.project-links {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 14px;

    margin-top: 30px;
}

/* LINK BUTTONS */

.project-links a {

    display: inline-flex;

    align-items: center;

    justify-content: center;

    padding: 12px 22px;

    background:
    linear-gradient(
      135deg,
      rgba(245,158,11,0.18),
      rgba(245,158,11,0.08)
    );

    border: 1px solid rgba(245,158,11,0.18);

    color: white;

    text-decoration: none;

    font-size: 13px;

    letter-spacing: 1px;

    font-weight: 500;

    transition: 0.3s ease;
}

/* HOVER */

.project-links a:hover {

    transform: translateY(-2px);

    background:
    linear-gradient(
      135deg,
      rgba(245,158,11,0.28),
      rgba(245,158,11,0.12)
    );

    border-color: rgba(245,158,11,0.35);
}

/* HEADING */

.project-heading {

    font-size: 48px;

    margin-bottom: -10px;

    letter-spacing: 2px;

    text-align: center;
}

/* ROW */

.project-row {

    display: grid;

    grid-template-columns: 445px 445px 445px;

    gap: 0;

    width: 100%;
}

/* PROJECT CARD */
.project-card {

    position: relative;

    display: flex;

    flex-direction: column;

    width: 100%;

    min-height: 430px;

    padding: 28px;

    box-sizing: border-box;

    background: rgba(255,255,255,0.025);

    border: 1px solid rgba(255,255,255,0.06);

    transition: 0.35s ease;

    overflow: hidden;
}

/* TOP LIGHT EFFECT */

.project-card::before {

    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;

    height: 1px;

    background:
      linear-gradient(
        90deg,
        transparent,
        rgba(245,158,11,0.45),
        transparent
      );

    opacity: 0;

    transition: 0.35s ease;
}

/* HOVER */

.project-card:hover {

    transform: translateY(-8px);

    border-color: rgba(245,158,11,0.22);

    background: rgba(255,255,255,0.04);

    box-shadow:
      0 12px 30px rgba(0,0,0,0.22);
}

.project-card:hover::before {

    opacity: 1;
}

/* CATEGORY */

.project-card h5 {

    color: var(--primary);

    font-size: 13px;

    letter-spacing: 2px;

    margin-bottom: -4px;

    font-weight: 600;
}

/* TITLE */

.project-card h2 {

    font-size: 31px;

    line-height: 1.15;

    margin-bottom: 18px;

    font-weight: 700;
}

/* DESCRIPTION */

.project-card p {

    color: rgba(255,255,255,0.72);

    line-height: 1.75;

    font-size: 16px;

    margin-bottom: 13px;
}

/* BULLETS */

.project-card ul {

    padding-left: 0;

    font-size: 15px;
    


    list-style: none;

    margin-bottom: 24px;
}

.project-card ul li {

    margin-bottom: 10px;

    color: rgba(255,255,255,0.84);

    line-height: 1.6;

    font-size: 14px;
}

/* TECH STACK */

.tech-stack {

    display: flex;

    flex-wrap: wrap;

    gap: 10px;

    margin-top: auto;
}

/* TECH TAG */

.tech-stack span {

    padding: 8px 14px;

    background: rgba(245,158,11,0.05);

    border: 1px solid rgba(245,158,11,0.12);

    font-size: 12px;

    color: var(--primary);

    transition: 0.3s ease;
}

/* TECH TAG HOVER */

.tech-stack span:hover {

    background: rgba(245,158,11,0.10);

    border-color: rgba(245,158,11,0.28);
}


/* =========================
   EXPERIENCE SECTION
========================= */

.experience-container {

    width: calc(100% + 80px);

    margin-left: -40px;

    padding: 80px 0;

    box-sizing: border-box;

    margin-top: -240px;
}


/* HEADING */

.experience-heading {

    font-size: 42px;

    letter-spacing: 2px;

    font-weight: 550;

    margin-bottom: 22px;

    text-align: center;
}

/* GRID */

.experience-grid {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    width: 100%;
    gap: 0;
}

/* BOX */

.experience-box {

    padding: 30px;

    background: rgba(245,158,11,0.04);

    border: 1.5px solid rgba(245,158,11,0.10);

    transition: 0.35s ease;
}


/* LABEL */

.experience-label {

    color: var(--primary);

    font-size: 11px;

    letter-spacing: 2px;

    display: inline-block;

    margin-bottom: 0px;
}

/* TITLE */

.experience-box h3 {

    font-size: 28px;

    margin-bottom: 10px;
}

/* DATE */

.experience-date {

    color: rgba(255,255,255,0.55);

    font-size: 14px;

    margin-bottom: 24px;
}

/* LIST */

.experience-box ul {

    padding-left: 0;

    list-style: none;

    margin-bottom: 24px;
}

.experience-box ul li {

    color: rgba(255,255,255,0.82);

    line-height: 1.7;

    margin-bottom: 12px;

    font-size: 14px;
}



/* =========================
   EDUCATION + CERTIFICATIONS
========================= */

.edu-cert-container {

    width: 100%;

    max-width: 1550px;

    margin-top:-130px;

    display: grid;

    grid-template-columns: 0.9fr 1.1fr;

    gap: 80px;

    padding: 80px 0;

    border-top: 2px solid var(--border);

    border-bottom: 2px solid var(--border);
}

/* LEFT SIDE */
/* EDUCATION TABLE */

/* EDUCATION HEADING */

.education-heading {

    font-size: 36px;

    letter-spacing: 2px;

    font-weight: 700;

    margin-top: -20px;

    margin-left: 30px;

    margin-bottom: 35px;

    color: var(--primary);
}

.education-table {

    background: rgba(255,255,255,0.025);

    border: 1px solid rgba(255,255,255,0.06);

    margin-left: 30px;

    overflow: hidden;
}

/* EDUCATION ITEM */

.education-item {

    padding: 40px;

    border-bottom: 2px solid rgba(255,255,255,0.05);
}

/* REMOVE LAST BORDER */

.education-item:last-child {

    border-bottom: none;
}

/* LABEL */

.edu-label {
    

    color: var(--primary);

    font-size: 12px;

    letter-spacing: 3px;


    font-weight: 600;
}

/* TITLE */

.education-item h3 {

    font-size: 20px;

    line-height: 1.2;

    margin-top: 13px;

    margin-bottom: 18px;

    color: white;
}

/* DATE */

.education-item .experience-date {

    display: inline-block;

    font-size: 15px;

    color: rgba(255,255,255,0.55);

    margin-bottom: 22px;
}

/* INSTITUTE */

.education-item h4 {

    font-size: 20px;

    margin-top: -10px;

    margin-bottom: -20px;

    font-weight: 400;

    color: white;

    line-height: 1.7;
}

/* CERTIFICATION HEADING */

.certification-heading {

    font-size: 36px;

    letter-spacing: 2px;
    margin-top: -20px;
    margin-bottom: 38px;

    font-weight: 700;

    color: white;
}

/* BORDER BETWEEN EDUCATION & CERTIFICATIONS */

.certifications-side {

    border-left: 2px solid rgba(255,255,255,0.08);

    padding-left: 50px;
}

/* CERTIFICATIONS LIST */

.certifications-list {

    display: flex;

    flex-direction: column;

    gap: 10px;

}

/* CERT ROW */

.cert-row {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 12px 24px;

    text-decoration: none;

    background: rgba(245,158,11,0.04);

    border: 1px solid rgba(245,158,11,0.10);

    transition: 0.3s ease;
}

/* HOVER */

.cert-row:hover {

    transform: translateY(-3px);

    background: rgba(245,158,11,0.07);

    border-color: rgba(245,158,11,0.22);
}

/* CERT TITLE */

.cert-row h3 {

    color: white;

    font-size: 17px;

    margin-bottom: 8px;
}

/* PROVIDER */

.cert-row p {

    color: var(--muted);

    font-size: 15px;

     text-align: left;

    margin: 0;
}

/* ARROW */

.cert-row span {

    color: var(--primary);

    font-size: 18px;
}




/* =========================
   MEDIUM BLOGS SECTION
========================= */
.blogs-container {

    width: calc(100% + 80px);

    margin-left: -40px;

    margin-top: -230px;
}

/* HEADING */

.blogs-heading {

    font-size: 42px;

    letter-spacing: 2px;

    font-weight: 550;

    margin-top: 160px;

    margin-bottom: 40px;

    text-align: center;
}

.blogs-heading span {

    color: var(--primary);
}

/* GRID */

.blogs-grid {

    display: flex;

    flex-direction: column;

    gap: 30px;
}

/* ROW */

.blog-row {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 0;
    margin-top: 30px;
    margin-bottom: -30px;
}

/* SECOND ROW */

.second-row {

    grid-template-columns: repeat(3, 1fr);

    width: 100%;
    margin-bottom: 50px;
}

/* BLOG BOX */

.blog-box {

    padding: 34px;

    background: rgba(245,158,11,0.04);

    border: 1.5px solid rgba(245,158,11,0.10);

    box-sizing: border-box;
}

/* LABEL */

.blog-label {

    color: var(--primary);

    font-size: 12px;

    letter-spacing: 2px;

    display: inline-block;

    margin-bottom: 0px;
}

/* TITLE */

.blog-box h3 {

    font-size: 23px;

    line-height: 1.3;

    margin-top: 18px;

    margin-bottom: 12px;

    color: white;
}

/* DATE */

.blog-date {

    color: rgba(255,255,255,0.55);

    font-size: 14px;

    margin-bottom: 22px;
}

/* DESCRIPTION */

.blog-box p {

    color: rgba(255,255,255,0.78);

    line-height: 1.8;

    font-size: 15px;

    font-weight: 200px;

    margin-bottom: 28px;
}

/* BLOG LINK BUTTON */

.blog-link {

    display: inline-flex;

    align-items: center;

    justify-content: center;

    padding: 10px 18px;

    background: rgba(245,158,11,0.06);

    border: 1px solid rgba(245,158,11,0.12);

    text-decoration: none;

    color: var(--primary);

    font-size: 13px;

    letter-spacing: 1px;

    transition: 0.3s ease;
}

/* HOVER */

.blog-link:hover {

    background: rgba(245,158,11,0.10);

    border-color: rgba(245,158,11,0.25);
}



/* =========================
   FOOTER
========================= */

.footer {

    width: 100%;
     
    padding: 100px 60px 50px;

    border-top: 1px solid rgba(245,158,11,0.10);

    background:
linear-gradient(
  180deg,
  rgba(245,158,11,0.10) 0%,
  rgba(245,158,11,0.05) 25%,
  rgba(20,15,8,0.92) 55%,
  rgba(0,0,0,1) 100%
);

    position: relative;

    overflow: hidden;

    box-sizing: border-box;
}

/* SUBTLE GLOW */

.footer::before {

    content: "";

    position: absolute;

    width: 900px;

    height: 500px;

    background:
    radial-gradient(
      circle,
      rgba(245,158,11,0.08),
      transparent 70%
    );

    top: -250px;

    left: 50%;

    transform: translateX(-50%);

    pointer-events: none;
}

/* AVAILABILITY */

.footer-availability {

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 10px;

    font-size: 15px;

    color: rgba(255,255,255,0.72);

    margin-top: -40px;

    margin-bottom: -20px;

    letter-spacing: 0.5px;
}

/* GREEN DOT */

.footer-dot {

    width: 10px;

    height: 10px;

    border-radius: 50%;

    background: #22c55e;

    box-shadow:
      0 0 12px rgba(34,197,94,0.7);
}

/* BOTTOM LAYOUT */

.footer-bottom {

    display: flex;

    justify-content: space-between;

    align-items: flex-end;

    width: 100%;
}

/* NAME */

.footer-name {

    font-size: 27px;

    line-height: 1;

    margin: 0;

    font-family: 'Cormorant Garamond', serif;

    color: white;

    font-weight: 700;
}

/* SECOND NAME */

.footer-name span {

    background: linear-gradient(
      90deg,
      #f59e0b,
      #ffd369
    );

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

/* LINKS */

.footer-links {

    display: flex;

    gap: 30px;

    padding-bottom: 10px;
}

/* LINK */

.footer-links a {

    text-decoration: none;

    color: rgba(255,255,255,0.60);

    font-size: 16px;

    letter-spacing: 1px;

    transition: 0.3s ease;
}

/* HOVER */

.footer-links a:hover {

    color: var(--primary);
}


/* FOOTER LINK UNDERLINE */

.footer-links a {

    position: relative;
}

.footer-links a::after {

    content: "";

    position: absolute;

    left: 0;

    bottom: -6px;

    width: 0;

    height: 1px;

    background: var(--primary);

    transition: 0.3s ease;
}

/* HOVER */

.footer-links a:hover::after {

    width: 100%;
}